/**
* Name: Password validation
* Author: Symbiosys
*/

.password-validation-list {
  font-style: italic;
  font-size: 1.2rem;
  
  @include breakpoint(sm) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  li {
    @include breakpoint(sm) {
      width: calc(50% - 1rem);
    }
  }
}
